body {
    background-image: url("/public/assets/img/deadend.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Create a container element for the content */
.background {
    background-image: url("/public/assets/img/deadend.gif");
    background-size: cover;
    background-position: bottom;
    height: 10vh;
    display: inline;
    align-items: center;
    justify-content: center;
}

/* Style the content */
.content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 10px;
    text-align: right;
}

/* Style the heading */
h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}